* {
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(220, 115, 10, 0.9);
    border-bottom: solid 2px white;
}

.logo{
    background-color: black;
    border-radius: 100px;
    box-shadow: -2px -3px white;
    border: solid rgb(220, 115, 10) 3px;
    padding: 5px;
}

.nav-right a{
    color: black;
}

.nav-right a:hover{
    background-color: red;
}

main {
    margin-top: 100px;
}

.shop-aside {
    position: fixed;
    padding: 35px;
    border: solid white 2px;
    max-width: 100px;
    max-height: 250px;
    margin: 15px;
    border-radius: 5px 5px 70px 70px;
    border-bottom: double white 6px;
    margin-top: 0;

}

@keyframes rgb-text {
    0% {
        text-shadow: -4px -4px red;
    }

    25% {
        text-shadow: -4px -4px green;
    }

    50% {
        text-shadow: -4px -4px blue;
    }

    100% {
        text-shadow: -4px -4px red;
    }
}

h1 {
    animation: rgb-text 3s infinite;
}

.burdens {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    border-left: double red 5px;
    border-right: double red 5px;
    justify-content: space-evenly;
    border-radius: 50px;
    padding: 5px;
    margin-right: 5px;
}

.cat {
    padding: 10px;
    margin: 5px;
    margin-bottom: 30px;
    border: solid white 2px;
    display: flex;
    box-shadow: 8px 8px rgb(220, 115, 10);
    width: 515px;
    height: 220px;
    border-radius: 20px 50px 5px 50px;
}

.cat img {
    width: 260px;
    height: 220px;
    border-radius: 20px 50px 25px 50px;
    border: double;
    box-shadow: -4px -3px red;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

article a {
    width: 50px;
    height: 25px;
    line-height: 25px;
    padding: 0 25px;
    background-color: rgb(220, 115, 10);
    color: black;
    border-radius: 100px 10px 100px 10px;
    text-align: center;

}

article a:hover {
    background-color: red;
    color: white;
    /* box-shadow: 4px 4px rgb(220, 115, 10); */
    animation-name: rgb-box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

footer p{
    color: black;
}

@keyframes rgb-box {
    0% {
        box-shadow: 4px 5px red;
    }

    25% {
        box-shadow: 4px 5px green;
    }

    50% {
        box-shadow: 4px 5px blue;
    }

    100% {
        box-shadow: 4px 5px red;
    }
}

@media (max-width:600px) {
    .cat {
        width: 300px;
    }

    .cat img {
        width: 115px;
        height: 115px;
    }

    .shop-aside {
        max-width: 50px;
    }

    .h1-shop {
        font-size: 16px;
    }

    .p-shop {
        font-size: 12px;
    }

    .burdens {
        margin-left: 105px;
    }

    .cat {
        max-width: 150px;
        height: 250px;
        display: list-item;
    }

    .description {
        font-size: 12px;
    }

    .shop-aside {
        padding: 15px;
    }
}

footer {
    background-color: rgb(220, 115, 10);
    text-align: center;
}

footer h3 {
    margin: 20px;
    color: black;
}
